body{
  margin:0;
  text-align: center;
}

.light-theme{
  background-color: #ffffff;
  color: black;
}

nav{
  display: flex;
  text-align: center;
  background-color: #5d449e;
  width: 100%;
  padding: 20px;
  color: #f8f8f8;
  
}
.content {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.1;
  height: 90vh;
}

.dark-theme{
  background-color: #3c305a;
  color: #ffffff;
}

.dark-theme nav{
  background-color:#463868;
  color: #ffffff;
}